* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: #f7e1c9;
    width: 1440px;
    height: 80px;
}

.div2 {
    padding: 30px;
}

body {
    background-color: antiquewhite;
}

button {
    background-color: #0A775F;
    width: 195px;
    height: 55px;
    border-radius: 100px;
    border: solid 0px #0A775F;
    color: white;
    font-size: 16px;
}

.img {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 130px;
    right: 100px;
    border-radius: 20%;
}

.h1 {
    position: absolute;
    top: 650px;
    left: 550px;
    font-size: 50px;
    color: black;
}

.img1 {
width: 470px;
height: 375px;
top: 750px;
left: 40px;
position: absolute;
}

.hm {
    position: absolute;
    top: 800px;
    left: 950px;
    font-size: 30px;
    color: black;
    font-size: 48px;
}

.hn {
    position: absolute;
    top: 870px;
    left: 950px;
    font-size: 20px;
    color: black;
    font-size: 22px;
}

.img2 {
    width: 470px;
    height: 375px;
    top: 1230px;
    left: 900px;
    position: absolute;
}

.h2 {
    position: absolute;
    top: 1290px;
    left: 50px;
    font-size: 48px;
}

.p2 {
    position: absolute;
    font-size: 22px;
    top: 1370px;
    left: 50px;
}

.img3 {
    width: 470px;
    height: 375px;
    top: 1650px;
    left: 40px;
    position: absolute;
}

.h3 {
    position: absolute;
    top: 1740px;
    left: 950px;
    font-size: 48px;
}

.p3 {
    position: absolute;
    font-size: 22px;
    top: 1820px;
    left: 950px;
}

.img4 {
    width: 470px;
    height: 375px;
    top: 2100px;
    left: 900px;
    position: absolute;
}

.h4 {
    position: absolute;
    top: 2160px;
    left: 50px;
    font-size: 48px;
}

.p4 {
    position: absolute;
    font-size: 22px;
    top: 2240px;
    left: 50px;
}

footer {
    position: absolute;
    top: 2500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 160px;
    font-size: 16px;
    background-color: #f7e1c9;
}

.round {
    width: 140px;
    height: 140px;
    animation-name: R;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    position: absolute;
    left: 890px;
    top: 100px;
}

@keyframes R {
    0% {
        transform: rotate(100deg);
    }

    100% {
        transform: rotate(-100deg);
    }
}